:host {
  position: relative;
  display: inline-block;
  --tooltip-background-color: #000;
}

:host(:hover) .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  min-width: 80px;
  background-color: var(--tooltip-background-color);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

/* Positions */
.top {
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: 102%;
  left: 50%;
  transform: translateX(-50%);
}
.right {
  top: -5px;
  left: 105%;
}

.left {
  top: -5px;
  right: 105%;
}

/* Arrow style */
.tooltiptext::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

/* Arrows Positions */
.top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: var(--tooltip-background-color) transparent transparent transparent;
}

.bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent var(--tooltip-background-color) transparent;
}

.right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent var(--tooltip-background-color) transparent transparent;
}

.left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent var(--tooltip-background-color);
}
