@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

:host {
  display: block;
}

.iCustom {
  font-style: italic;
}

.boldCustom {
  font-weight: bold;
}

.font-weight-1 {
  font-weight: 100;
}
.font-weight-2 {
  font-weight: 200;
}
.font-weight-3 {
  font-weight: 300;
}
.font-weight-4 {
  font-weight: 400;
}
.font-weight-5 {
  font-weight: 500;
}

.font-weight-max {
  font-weight: 800;
}
