:host {
  /**
   * @prop --checkFalse: the un-checked emoji
   */
  --checkFalse: '';
  /**
   * @prop --checkTrue: the checked emoji
   */
  --checkTrue: '';
  display: inline-block;
}

span.check-true::after {
  content: var(--checkTrue);
}

span.check-false::after {
  content: var(--checkFalse);
}
